@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/* ----- header ----- */

 /* margin left and right set to auto to center */
.profile{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 10px;
    background-image: url("../images/profile-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: 3px solid black;
}

h1 {
    font-family: "Courgette";
    text-align: center;
    font-weight: 100;
}

/* ----- section ----*/

.nav-home {
    font-family: "Courgette";
    font-size: 40px;
    width: 200px;
    height: 140px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    background-color: #afeaaf;
    text-align: center;
    padding: 0;
}

.nav-home a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 120px;
}

.nav-home a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 40px
}

 
.hvr-sweep-to-bottom {
    width: 200px;
    height: 140px;
    border-radius: 3px;
    padding: 0;
}

.statement {
    font-family: "Roboto", sans-serif;
    width: 50%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* ----- footer ----- */
