@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body {
    background-color: #c8baec;
}

/* ----- header ----- */

/* margin left and right set to auto to center */

.profile {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url("../images/profile-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-bottom: 3px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: "Courgette";
    text-align: center;
    font-weight: 100;
}

/* ----- section ----*/

section {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 10px;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav-home {
    font-family: "Courgette";
    font-size: 20px;
    width: 100px;
    height: 75px;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fafafa;
    border-radius: 5px;
    background-color: none;
    text-align: center;
    padding: 0;
}

.nav-title {
    color: #fafafa;
}

.nav-home a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 120px;
}

.nav-home a i {
    padding-top: 10px;
    display: block;
    color: #fafafa;
    font-size: 20px
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 95px;
    height: 70px;
    margin: 0;
    padding: 0;
}

/* ----- Gallery images ----- */

.gallery-headers {
    font-family: "Courgette";
}

 #gallery {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

/* ----- images ----- */
/* ----- landscapes -----*/


.image1 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/armley-park.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image2 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/cyclist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image4 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/kirkstall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image5 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/leeds-canal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image6 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/leeds-docks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image7 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/leeds-eye.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image8 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/leeds-tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image9 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/old-tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image10 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/queens-hotel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image11 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/skyline-view.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image12 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/tavern-sign.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image13 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/untitled-6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image14 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/untitled-8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image15 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/untitled-30.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image16 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/landscapes/wheat-field.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/*----- studio -----*/

.image17 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/alana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image18 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/bradford-street.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image19 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/cat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image20 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/child.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image21 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/horse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image22 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/kasia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image23 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/kelly.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image24 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/livia.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image25 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/studio/watch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* ----- weddings & events ----- */

.image26 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/car.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image27 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/child.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image28 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/dancers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image29 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/eagle-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image30 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/eagle-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image31 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/eagle-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image32 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/father-bride.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image33 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/first-dance.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image34 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/first-kiss.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image35 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/food-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image36 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/food-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image37 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/food-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image38 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/register.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image39 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/son-parents.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image40 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/tavern-flower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image41 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/wedding-cake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image42 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/wedding-flowers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image43 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/wedding-isle.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image44 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/wedding-makeup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.image45 {
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-image: url("../images/wedding-events/wedding-rings.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* ----- footer ----- */

footer .b-card-pdf i {
    color: black;
    text-align: center;
    font-size: 18px;
}

footer .b-card-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-headers {
    font-family: "Courgette"
}

.footer {
    border-top: 2px solid black;
    border-radius: 10px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-line {
    height: 60px;
    border-left: 2px solid black;
    margin-left: 10px;
}

.social-media {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #2098d1;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #3fa8da;
}

.b-card {
    font-family: "Roboto", sans-serif;
}
